@font-face {
    font-family: 'Sporting_Grotesque';
    src: url('Sporting_Grotesque-Bold_web.woff2') format('woff2'),
         url('Sporting_Grotesque-Bold_web.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Sporting_Grotesque';
    src: url('Sporting_Grotesque-Regular_web.woff2') format('woff2'),
         url('Sporting_Grotesque-Regular_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.kr {
    padding-bottom: 5px;
}

body {
    background-color: #7F5FFF;
}

.version {
    font-family: 'Sporting_Grotesque';
    color: white;
    font-size: small;
}


.copyright {
    position: relative;
    font-family: 'Sporting_Grotesque';
    font-size: small;
    bottom: 22px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-decoration: none;
    text-align: center;
}

.marsImg {
    padding-top: 20px;
}

.marsImg img {
    width: 300px;
}

.teamImg {
    padding-top: 20px;
}

.teamImg img {
    width: 300px;
}

    
a {
    font-family: 'Sporting_Grotesque';
    color: white;
    text-decoration: none;
}

.downloadImg {
    padding: 10px;
}

.downloadImg img {
    width: 250px;
}

.header {
    padding-top: 100px;
    font-family: 'Sporting_Grotesque';
    font-weight: normal;
    font-size: 68px;
    text-align: center;
    line-height: 90%;
}

#subHeader {
    font-family: 'Sporting_Grotesque';
    font-weight: normal;
    font-size: 25px;
}

.movie {
    padding-top:30px;
    padding-bottom: 80px;
    font-family: 'Sporting_Grotesque';
    font-weight: normal;
    font-size: 48px;
    text-align: center;
}



.subTitle {
    padding-top: 30px;
    font-family: 'Sporting_Grotesque';
    font-size: x-large;
    text-align: center;
}

.text {
    text-align: left;
    font-size: medium;
    margin:0 auto;
    margin-bottom: 10px;
    background: transparent;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: Ellipsis;
    max-width: 527px;
    line-height: 160%;
    padding-top: 5px;
  }
.text >img{
    width: 450px;
    display: block;
    margin: 0 auto;
    padding-bottom: 6px;
    }

hr  {
    border: 1px solid #FFFFFF;
    width: 527px;
}

.title {
    padding-top: 25px;
    padding-left: 25px;
    font-family: 'Sporting_Grotesque';
    font-size: 30px;
    padding-top: 100px;;
    width: 30vw;
    float: left;
}


.footer {
    height: 70px;
}

Table {
    margin: auto;
}





@media only screen and (min-width: 768px) {

}


@media only screen and (max-width: 768px) {

/* .pc {
    display: none;
} */


hr  {
    border: 1px solid #FFFFFF;
    width: 90vw;
}

#mainHeader {
    font-size: 41px;
    line-height: 0;
}

#subHeader {
    font-size: 15px;
}

.subTitle {
    font-size: 17px;
}

.text {
    width: 90vw;
}

.copyright {
    font-size: x-small;
}


table img{
    width: 80px;
}
td {
    width: 100px;
}

}

@media only screen and (max-device-width: 321px) {

    #mainHeader {
        font-size: 35px;
    }
    
    #subHeader {
        font-size: 13px;
    }
    .copyright {
        font-size: 7px;
    }

}