@font-face {
    font-family: 'terminal_grotesque';
    src: url('font/terminal-grotesque-webfont.eot');
    src: url('font/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/terminal-grotesque-webfont.woff2') format('woff2'),
         url('font/terminal-grotesque-webfont.woff') format('woff'),
         url('font/terminal-grotesque-webfont.ttf') format('truetype'),
         url('font/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* cursor */
html {
    cursor: url(img/cursor1.png), auto;
}

a {
    cursor: url(img/cursor2.png), auto;
    text-decoration: none;
    color: black;
}

/* background */
body {
    background-color: #F1F1F1;
    display: flex;
}

main {
    width: 80vw;
    margin: 0 auto;
}

/* main */
#title {
    width: 80vw;
    position: fixed;
    text-align: center;
    margin-top: 20px;
}

#title a{
    font-family: 'terminal_grotesque';
    font-size: 70pt;
    font-weight: normal;
    letter-spacing: -1px;
    text-decoration: none;
    color: black;
}


#title a img{
    width: 500px;
}


.nextTitle {
    margin-top: 150px;
}

/* sub title */
h1 {
    font-family: 'terminal_grotesque';
    font-size: 45pt;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;
}

/* text */
p {
    margin: 0 auto;
    width: 60vw;
    font-family: 'S-CoreDream-4Regular';
    font-weight: 500;
    font-size: 15pt;
    line-height: 1.6em;
    text-align: justify;
}

/* phase */
.imgWrapper {
    display: flex;
}

#flag {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: -30px;
    margin-top: 50px;
}

.phase {
    margin-bottom: 50px;
}

/* app download */
.appDownload {
    display: flex;
    padding-top: 50px;
}

.appDownload img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#blank {
    padding-right: 20px;
}

.appDownloadButton {
    display: flex;
    padding-top: 20px;
}

#store {
    margin: 0 auto;
}

/* square */
.tagInfo {
    margin-left: 20px;
} 

.tagInfo tr {
    width: 100px;
}

.gameSquare {
    height: 23px;
    width: 23px;
    background: #A259FF;
    border: 1px solid black;
}

.specialSquare {
    height: 23px;
    width: 23px;
    background: linear-gradient(91.99deg, #FE4949 0%, #FF8A00 23.44%, #FFF501 42.71%, #00B51D 63.02%, #000AFF 84.37%, #852FAD 100%);
    border: 1px solid black;
}

.exhibitionSquare {
    height: 23px;
    width: 23px;
    background: #FF8A00;
    border: 1px solid black;
}

.musicSquare {
    height: 23px;
    width: 23px;
    background: #49B2FE;
    border: 1px solid black;
}

.actionSquare {
    height: 23px;
    width: 23px;
    background: #00D823;
    border: 1px solid black;
}

.tableSquare {
    font-family: 'terminal_grotesque';
    font-weight: bold;
    font-size: 12pt;
}

.tableText {
    width: 120px;
}

/* circle */
.exhibitionCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FF8A00;
    margin-left: 12px;
}

.gameCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #A259FF;
    margin-left: 12px;
}

.specialCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(91.99deg, #FE4949 0%, #FF8A00 23.44%, #FFF501 42.71%, #00B51D 63.02%, #000AFF 84.37%, #852FAD 100%);
    margin-left: 12px;
}

.musicCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #49B2FE;
    margin-left: 12px;
}

.actionCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #00D823;
    margin-left: 12px;
}

/* accordion */
.accordion {
    margin: 0 auto;
    font-family: 'S-CoreDream-5Medium';
    font-size: 22px;
    background-color: #F1F1F1;
    color: black;
    cursor: url(img/cursor2.png), auto;
    padding: 18px;
    width: 100%;
    border: none;
    border-top: 1px solid black;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-right: 0;
}

.active, .accordion:hover {
    background-color: #F1F1F1;
}

.accordion:after {
    content: url(img/accordionButton.png);
    font-weight: bold;
    margin-top: -32px;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: url(img/accordionButtonOpen.png);
}
  
.panel {
    word-break: break-all;
    padding: 0 18px;
    background-color: #F1F1F1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.panel p {
    padding-bottom: 30px;
    width: 90%;
    word-break: normal;
}

.accordionTitle {
    font-family: 'terminal_grotesque';
    font-size: 20pt;
    background-color: #F1F1F1;
    color: black;
    cursor: url(img/cursor1.png), auto;
    padding: 18px;
    padding-bottom: 0px;
    border: none;
    text-align: left;
    outline: none;
}

.accordionTitle a{
    cursor: url(img/cursor1.png), auto;
}
  
.tagTable {
    width: 50px;
}

.tagTable img {
    width: 70%;
    padding-top: 5px;
}

.titleTable {
    width: 400px;
}

.hostTable {
    width: 300px;
}

.periodTable {
    width: 200px;
}

/* trailor */
.trailor {
    display: flex;
    cursor: url(img/cursor1.png), auto;
    width: 100%;
}

.trailorIframe {
    margin: 0 auto;
}

iframe {
    pointer-events: none;
    width: 21.6vw;
    height: 38.4vw;
}

/* button img */
#buttonBackground {
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#buttonBackground img{
    width: 260px;
}

.eventButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'terminal_grotesque';
    font-size: 35px;
    padding-bottom: 10px;
    -webkit-text-stroke: 1px white;
}

.vcButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'terminal_grotesque';
    font-size: 35px;
    padding-bottom: 10px;
    -webkit-text-stroke: 1px black;
    letter-spacing: 1px;
}

/* footer */
footer {
    padding-top: 80px;
}


footer table, div {
    margin: 0 auto;
}

footer table th {
    height: 50px;
    width: 65px;
}

footer div {
    padding-bottom: 10px;
    text-align: center;
}

footer p {
    text-align: center;
    font-family: 'terminal_grotesque';
    font-size: 20px;
}

#crdeitLogo a img {
    width: 278px;
}

#dockingTitle {
    margin-top: -0px;
}


#docking {
    color: white;
    -webkit-text-stroke: 1px black;
    margin-top: -40px;
}

.dockingTable {
    margin: 0 auto;
}

.dockingTable th{
    font-family: 'S-CoreDream-5Medium';
    width: 150px;
}

.dockingTable th img {
    width: 100px;
}

#dockingFooter {
    padding-top: 30vh;
}


@media screen and (min-width: 1025px) {
    .appDownloadButtonMobile {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
 
    h1 {
        font-family: 'terminal_grotesque';
        font-size: 50px;
        font-weight: normal;
        letter-spacing: -1px;
        text-align: center;
    }
    
    main {
        width: 90vw;
    }

    #title {
        width: 90vw;
        font-size: xx-large;
        position: relative;
    }

    #title a img {
        width: 80vw;
    }


    .nextTitle {
        margin-top: -10px;
    }

    p {
        font-size: 17px;
        width: 90vw;
    }

    .appDownloadButton {
        display: none;
    }

        
    /* square */
    .tagInfo {
        margin-left: 0px;
    } 

    .gameSquare {
        height: 20px;
        width: 20px;
    }

    .specialSquare {
        height: 20px;
        width: 20px;
    }

    .exhibitionSquare {
        height: 20px;
        width: 20px;
    }

    .musicSquare {
        height: 20px;
        width: 20px;
    }

    .actionSquare {
        height: 20px;
        width: 20px;
    }

    .tableSquare {
        font-family: 'terminal_grotesque';
        font-weight: bold;
        font-size: 12pt;
    }

    .tableText {
        width: 120px;
    }

    .tableText p {
        text-align: left;
        width: fit-content;
        margin-left: 0;
    }


    /* accordion */
    .accordion {
        margin: 0 auto;
        font-family: 'S-CoreDream-5Medium';
        font-size: 10pt;
        background-color: #F1F1F1;
        color: black;
        cursor: url(img/cursor2.png), auto;
        padding: 10px;
        width: 95%;
        border: none;
        border-top: 1px solid black;
        text-align: left;
        outline: none;
        transition: 0.4s;
        margin-right: 0;
    }

    .panel {
        word-break: break-all;
        padding: 0 18px;
        background-color: #F1F1F1;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.0s ease-out;
    }

    .panel p {
        font-size: 15px;
        padding-bottom: 30px;
        width: 90%;
        word-break: normal;
    }

    .accordionTitle {
        font-family: 'terminal_grotesque';
        font-size: 15pt;
        background-color: #F1F1F1;
        color: black;
        cursor: url(img/cursor1.png), auto;
        padding: 10px;
        padding-bottom: 0px;
        border: none;
        text-align: left;
        outline: none;
    }

    .accordionTitle a{
        cursor: url(img/cursor1.png), auto;
    }

    /* circle */


.exhibitionCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FF8A00;
    margin-left: 0px;
}

.gameCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #A259FF;
    margin-left: 0px;
}

.specialCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(91.99deg, #FE4949 0%, #FF8A00 23.44%, #FFF501 42.71%, #00B51D 63.02%, #000AFF 84.37%, #852FAD 100%);
    margin-left: 0px;
}

.musicCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #49B2FE;
    margin-left: 0px;
}

.actionCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #00D823;
    margin-left: 0px;
}
    
    .tagTable {
        margin-left: 0;
        width: 30px;
    }

    .tagTable img {
        margin-left: -8px;
        width: 30px;
        padding-top: 5px;
    }

    .titleTable {
        display: block;
        margin-left: 0px;
        width: 220px;
        height: 20px;
    }

    .hostTable {
        display: block;
        margin-left: 0px;
        width: fit-content;
    }

    .hostTable a {
        font-family: 'S-CoreDream-4Regular';
    }

    .accordionTitle .hostTable {
        display: none;
    }

    .periodTable {
        display: none;
    }

    .trailor {
        display: none;
    }

    footer p {
        text-align: center;
        font-family: 'terminal_grotesque';
        font-size: 12px;
    }

@media screen and (max-width: 400px) {
 
/* docking */

.dockingTable th{
    width: 130px;
    font-size: 13px;
}

.dockingTable th img {
    width: 50px;
}

h1 {
    font-size: 40px;
}

#docking {
    padding-top: 10px;
}

}